<div
  class="modal fade"
  id="crearProducto"
  tabindex="-1"
  aria-labelledby="crearProductoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="crearProductoLabel">
          Crear Investigador
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3"
          action="/proyectos/crearProducto"
          method="POST"
        >
          <input
            type="hidden"
            value="{{ proyecto.id_proyecto }}"
            name="id_proyecto"
            id="id_proyecto"
          />
          <div class="col-md-6">
            <label for="id_producto" class="form-label">Tipo</label>
            <select
              class="form-select"
              name="id_producto"
              id="id_producto"
              required
            >
              <option selected value="">Seleccionar</option>
              {% for item in productos %}
              <option value="{{ item.id_producto }}">
                {{ item.subtipo }}
              </option>
              {% endfor %}
            </select>
          </div>
          
          <div class="col-md-12">
            <label for="observacion" class="form-label">Observación</label>
            <textarea class="form-control" id="observacion" name="observacion" required></textarea>
          </div>
          <div class="col-md-6">
            <label for="fecha_inicio" class="form-label">Fecha de Inicio</label>
            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" required>
          </div>
          <div class="col-md-6">
            <label for="fecha_entrega" class="form-label">Fecha de Entrega</label>
            <input type="date" class="form-control" id="fecha_entrega" name="fecha_entrega" required>
          </div>
          <div class="col-md-6">
            <label for="fecha_publicacion" class="form-label">Fecha de Publicación</label>
            <input type="date" class="form-control" id="fecha_publicacion" name="fecha_publicacion" required>
          </div>
          

          <!--######################-->          
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-usb">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
