<div
  class="modal fade"
  id="editarCofinanciador"
  tabindex="-1"
  aria-labelledby="editarCofinanciadorLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarCofinanciadorLabel">
          Editar Cofinanciador
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3"
          action="/proyectos/editarCofinanciador"
          method="POST"

        >
          <input
            type="hidden"
            value="{{ proyecto.id_proyecto }}"
            name="cof_id_proyecto"
            id="cof_id_proyecto"
          />
          <input
            type="hidden"
            name="cof_id_cofinan_proyecto"
            id="cof_id_cofinan_proyecto"
          />
          <div class="row my-2">
            <div class="col-md-6">
            <label for="id_cofinanciador" class="form-label">Institución Cofinanciadora</label>
            <select
              class="form-select"
              name="cof_id_cofinanciador"
              id="cof_id_cofinanciador"
              required
            >
              <option selected value="">Seleccionar</option>
              {% for item in cofinanciadores %}
              <option value="{{ item.id_cofinanciador }}">
                {{ item.institucion }}
              </option>
              {% endfor %}
            </select>
            </div>
       
            <div class="col-md-6">
            <label for="cof_contrapartida_especie" class="form-label">Contrapartida Espacie</label>
            <input type="text" class="form-control" id="cof_contrapartida_especie" name="cof_contrapartida_especie" required>
            </div>
          </div>
          <div class="col-md-6">
            <label for="cof_contrapartida_dinero" class="form-label">Contrapartida Dinero</label>
            <input type="text" class="form-control" id="cof_contrapartida_dinero" name="cof_contrapartida_dinero" required>
          </div>

          <!--######################-->          
          <div class="modal-footer mt-3">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-usb">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
