<table class="table align-items-center ml-5" id="cofinanciadores">
  <thead>
    <tr>
      <th>Editar</th>
      <th>Institución</th>
      <th>NIT</th>
      <th>Contrapartida en especie</th>
      <th>Contrapartida en dinero</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in cofinanciadores_proyecto %}
    <tr>
      <td>
        <button
          class="btn btn-sm btn-light"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#editarCofinanciador"
          onclick="loadData('/proyectos/get_cofinanciador', id_cofinanciador='{{ item.id_cofinan_proyecto }}')"
        >
          <img
            src="{{ url_for('static', filename='icons/pencil.svg') }}"
            alt="Search Icon"
          />
        </button>
      </td>
      <td>{{item.institucion}}</td>
      <td>{{item.nit}}</td>
      <td>{{item.contrapartida_especie}}</td>
      <td>{{item.contrapartida_dinero}} proyecto{{item.id_proyecto}}</td>
      <td class="text-center">
        <button
          type="button"
          class="btn btn-sm btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#ModalEliminarCofinanciador"
          onclick="loadDataDeleteCofinanciador('{{ item.id_cofinan_proyecto }}', '{{ item.id_proyecto }}')"
        >
          <img
            src="{{ url_for('static', filename='icons/trash.svg') }}"
            alt="Search Icon"
          />
        </button>
      </td>
    </tr>
    {% endfor %} {% include 'proyectosInvestigacion/cofinanciador/editar.html'
    %} {% include 'proyectosInvestigacion/cofinanciador/eliminar.html' %}
  </tbody>
</table>
