<table class="table align-items-center ml-5" id="investigadores">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Identificación</th>
        <th>Fecha</th>
    </thead>
    <tbody>
      {% for item in auxiliares_proyecto %}
      <tr>       
        <td>{{item.nombre_estudiante}}</td>
        <td>{{item.identificacion}}</td>
        <td>{{item.fecha}}</td>    
        <td class="text-center">
          <button
            type="button"
            class="btn btn-sm btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#ModalEliminarAuxiliar"
            onclick="loadDataDeleteAuxiliar('{{ item.id_auxiliar_proyecto }}', '{{ item.id_proyecto }}')"
          >
            <img
              src="{{ url_for('static', filename='icons/trash.svg') }}"
              alt="Search Icon"
            />
          </button>
        </td>
      </tr>
      {% endfor %} 
      {% include 'proyectosInvestigacion/auxiliar/eliminar.html' %}
    </tbody>
  </table>
  