<!DOCTYPE html>
<html class="no-js page-10 app-F_102105" lang="es-co">
  <head runat="server">
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link rel="shortcut icon" href="/i/favicon.ico" />
    <link rel="icon" sizes="16x16" href="/i/favicon-16x16.png" />
    <link rel="icon" sizes="32x32" href="/i/favicon-32x32.png" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/i/favicon-180x180.png"
    />
    <link
      rel="icon"
      href="/static/img/principales/logoUSB.png"
      type="image/x-icon"
    />

    <!-- Bootstrap JS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/estilos.css') }}"
    />
    <!-- jQuery primero, luego Popper.js, y luego Bootstrap JS -->
    <!--BOOTSTRAP MODAL-->
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <!--JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <title>{% block title %}Base{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="header-top">
        <!-- Botón para el menú lateral -->
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <i class="fas fa-bars"
          ><img
            class="icons-menu"
            src="{{ url_for('static', filename='img/menu.png') }}"
        /></i>
        </button>
        <!-- Logo -->
        <button class="sidebar-toggle">
          <a href="/vistaInicio"
            ><img
              class="logo"
              src="{{ url_for('static', filename='img/principales/logoUSB.png') }}"
              alt="Logo"
            />
          </a>
        </button>

        <!-- Información del usuario (Notificaciones, Perfil, Desconectar) -->
        <div class="user-info">
          <i class="fas fa-bell"></i>
          <span>0</span>
          <img src="{{ url_for('static', filename='img/user.png') }}" />
          <span></span>
          <a href="#">Perfil (1000206974)</a>
          <span></span>
          <img src="{{ url_for('static', filename='img/logout.png') }}" />
          <span></span>
          <a href="/login">Desconectar</a>
        </div>
      </div>
    </header>
    <!--
    <div class="sidebar">
      <div class="sidebar-content">
        <nav>
          <h5><img
            class="icons-menu"
            src="{{ url_for('static', filename='img/home.png') }}"
          />Inicio</i
        ></h5>
          <ul style="height: 100%; ">
            <li>
              <a href="/vistaInvestigaciones"
                ><img
                  class="icons-menu"
                  src="{{ url_for('static', filename='img/parthenon.png') }}"
                />Investigaciones</a
              >
            </li>
            <li>
              <a href="/vistaGruposInvestigacion"
                ><img
                  class="icons-menu"
                  src="{{ url_for('static', filename='img/grupos.png') }}"
                />Grupos de investigación</a
              >
            </li>
            <li>
              <a href="/vistaLineasInvestigacion"
                ><img
                  class="icons-menu"
                  src="{{ url_for('static', filename='img/lineas.png') }}"
                />Lineas de investigación</a
              >
            </li>
            <li>
              <a
                href="{{ url_for( 'idVistaSemillerosInvestigacion.listar' ) }}"
                ><img
                  class="icons-menu"
                  src="{{ url_for('static', filename='img/semilleros.png') }}"
                />Semilleros de investigación</a
              >
            </li>
            <li>
              <a href="/vistaProyectosInvestigacion"
                ><img
                  class="icons-menu"
                  src="{{ url_for('static', filename='img/proyectosI.png') }}"
                />Proyectos de investigación</a
              >
            </li>
            <li>
              <a href="/vistaProyectosFormacion"
                ><img
                  class="icons-menu"
                  src="{{ url_for('static', filename='img/proyectosF.png') }}"
                />Proyectos de formación</a
              >
            </li>
            <li>
              <a href="/vistaInvestigadores"
                ><img
                  class="icons-menu"
                  src="{{ url_for('static', filename='img/investigadores.png') }}"
                />Investigadores</a
              >
            </li>
            <li>
              <a href="/vistaEstudiantes"
                ><img
                  class="icons-menu"
                  src="{{ url_for('static', filename='img/estudiantes.png') }}"
                />Estudiantes</a
              >
            </li>
            <li>
              <a href="/vistaConvocatorias"
                ><img
                  class="icons-menu"
                  src="{{ url_for('static', filename='img/convocatorias.png') }}"
                />Convocatorias</a
              >
            </li>
            <li>
              <a href="/vistaCertificados"
                ><img
                  class="icons-menu"
                  src="{{ url_for('static', filename='img/certificados.png') }}"
                />Certificados</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>-->
    
    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header" style="background-color: gray;">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      
      <div class="offcanvas-body sidebar-usb">
        <ul>
          <li>
            <a href="/vistaInvestigaciones"
              ><img
                class="icons-menu"
                src="{{ url_for('static', filename='img/parthenon.png') }}"
              />Investigaciones</a
            >
          </li>
          <li>
            <a href="{{ url_for('idVistaGruposInvestigacion.listar') }}">
              <img class="icons-menu" src="{{ url_for('static', filename='img/grupos.png') }}" />
              Grupos de investigación
            </a>
            
          </li>
          <li>
            <a href="/vistaLineasInvestigacion"
              ><img
                class="icons-menu"
                src="{{ url_for('static', filename='img/lineas.png') }}"
              />Lineas de investigación</a
            >
          </li>
          <li>
            <a
              href="{{ url_for( 'idVistaSemillerosInvestigacion.listar' ) }}"
              ><img
                class="icons-menu"
                src="{{ url_for('static', filename='img/semilleros.png') }}"
              />Semilleros de investigación</a
            >
          </li>
          <li>
            <a
              href="{{ url_for( 'idVistaProyectosInvestigacion.listar' ) }}"
              ><img
                class="icons-menu"
                src="{{ url_for('static', filename='img/proyectosI.png') }}"
              />Proyectos de investigación</a
            >
          </li>
          <li>
            <a href="/vistaProyectosFormacion"
              ><img
                class="icons-menu"
                src="{{ url_for('static', filename='img/proyectosF.png') }}"
              />Proyectos de formación</a
            >
          </li>
          <li>
            <a
            href="{{ url_for( 'idVistaInvestigadores.listar' ) }}"
            ><img
                class="icons-menu"
                src="{{ url_for('static', filename='img/investigadores.png') }}"
              />Investigadores</a
            >
          </li>
          <li>
            <a
            href="{{ url_for( 'idVistaEstudiantes.listar' ) }}"
            ><img
                class="icons-menu"
                src="{{ url_for('static', filename='img/Estudiantes.png') }}"
              />Estudiantes</a
            >
          </li>
          <li>
            <a href="/vistaConvocatorias"
              ><img
                class="icons-menu"
                src="{{ url_for('static', filename='img/convocatorias.png') }}"
              />Convocatorias</a
            >
          </li>
          <li>
            <a href="/vistaCertificados"
              ><img
                class="icons-menu"
                src="{{ url_for('static', filename='img/certificados.png') }}"
              />Certificados</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- Contenido específico de cada página -->
    <main>
      
      {% with messages = get_flashed_messages(with_categories=true) %} 
        <div class="container mt-5"></div>
          {% if messages %}
            <div class="alert-container">
              {% for category, message in messages %}
                <div
                  class="alert alert-{{ category }} alert-dismissible fade show"
                  role="alert"
                >
                  {{ message }}
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  >
                  </button>
                </div>
              {% endfor %}
            </div>
          {% endif %} 
        </div>
      {% endwith %}
     
      {% block content %} {% endblock %}
    </main>
    {% block nextcontent %} {% endblock %}
    <!----<footer>
    <div class="footer-left">
      <p>versión 1.0</p>
      <a href="#">Activar Modo de Lector de Pantalla</a>
    </div>
    <div class="footer-right">
      <img src="{{ url_for('static', filename='img/up-arrow.png') }}" alt="Logo del pie de página">
    </div>
  </footer>-->
  </body>
</html>
