{% extends "base.html" %}
{% block title %}Proyectos de formación{% endblock %}

{% block content %}



<h1 style="margin-top: 80px;">Proyectos de formación</h1>
<div class="search-bar">
  <input type="text" class="search-input" placeholder="Buscar grupo...">
  <button class="search-button">Buscar</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Proyecto de investigación</th>
      <th>Código</th>
      <th>Fecha de inicio</th>
      <th>Fecha de finalización</th>
      <th>Convocatoria</th>
    </tr>
  </thead>
  <tbody>
    {% for proyectof in proyectosf %}
    <tr>
      <td>proyectof.</td>
      <td>{{ proyectof.nom_proyecto_form }}</td>
      <td>{{ proyectof.codigo }}</td>
      <td>{{ proyectof.fecha_inicio }}</td>
      <td>{{ proyectof.fecha_terminacion}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock content %}