{% extends "base.html" %}
{% block title %}Investigadores{% endblock %}

{% block content %}

<div class="modal fade" id="investigadorModal" tabindex="-1" aria-labelledby="investigadorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="max-width: 1500px;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="investigadorModalLabel">Detalles del investigqador</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Tabs para organizar la información -->
        <ul class="nav nav-tabs" id="investigadorTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="info-general-tab" data-bs-toggle="tab" data-bs-target="#info-general" type="button" role="tab" aria-controls="info-general" aria-selected="true">Investigador</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="proyectos-tab" data-bs-toggle="tab" data-bs-target="#proyectos" type="button" role="tab" aria-controls="proyectos" aria-selected="false">Proyectos</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="productos-tab" data-bs-toggle="tab" data-bs-target="#productos" type="button" role="tab" aria-controls="productos" aria-selected="false">Productos</button>
          </li>
          </ul>

        <!-- Contenido de las pestañas -->
        <div class="tab-content" id="investigadorTabContent">
          <div class="tab-pane fade show active" id="info-general" role="tabpanel" aria-labelledby="info-general-tab">
            <br><!-- Información General -->
          <div class="header-container">
            <h4 id="modalNombreInvestigador" >Nombre del Investigador</h4>
            <button type="button" class="btn btn-secondary" id="modalEditInvestiButton" data-bs-toggle="modal" data-bs-target="#modalEditInvesti">Editar</button>
          </div>

            <table class="table">
              <tbody id="modalTableBody">
                <!-- La información general del investigador se insertará aquí mediante JavaScript -->
              </tbody>
            </table>
            </div>
          

          <!-- Proyectos-->
          <div class="tab-pane fade" id="proyectos" role="tabpanel" aria-labelledby="proyectos-tab">
            
          </div>

          <!-- Productos -->
          <div class="tab-pane fade" id="productos" role="tabpanel" aria-labelledby="productos-tab">
            
          </div>


          <!--Investigadores-->
         
     </div>
    </div>
  </div>
</div>
</div>
</div>
</div>



<!-- Modal para crear investigador -->
<div class="modal fade" id="staticBackdrop2" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear Investigador</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createForm" action="/createinvestigador" method="POST">
            <div class="mb-3">
                <label for="cedula" class="form-label">Cédula:</label>
                <input type="text" id="cedula" name="cedula" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="nombre_investigador" class="form-label">Nombre del Investigador:</label>
                <input type="text" id="nombre_investigador" name="nombre_investigador" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="categoria_institucion" class="form-label">Categoría Institución:</label>
                <input type="text" id="categoria_institucion" name="categoria_institucion" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="id_facultad" class="form-label">ID Facultad:</label>
                <select id="id_facultad" name="id_facultad" class="form-select" required>
                    <option value="">Seleccione una facultad</option>
                    {% for facultad in facultades %}
                        <option value="{{ facultad.id_facultad }}">{{ facultad.nombre_facultad }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="categoria_colciencias" class="form-label">Categoría Colciencias:</label>
                <input type="text" id="categoria_colciencias" name="categoria_colciencias" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="orcid" class="form-label">ORCID:</label>
                <input type="text" id="orcid" name="orcid" class="form-control">
            </div>
            <div class="mb-3">
                <label for="tipo_contrato" class="form-label">Tipo de Contrato:</label>
                <input type="text" id="tipo_contrato" name="tipo_contrato" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="nivel_de_formacion" class="form-label">Nivel de Formación:</label>
                <input type="text" id="nivel_de_formacion" name="nivel_de_formacion" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">Correo Electrónico:</label>
                <input type="email" id="correo" name="correo" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="fecha_inicio" class="form-label">Fecha de Inicio:</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="fecha_final" class="form-label">Fecha de Finalización:</label>
                <input type="date" id="fecha_finalizacion" name="fecha_final" class="form-control">
            </div>
            <div class="mb-3">
                <label for="cvlac" class="form-label">CVLAC:</label>
                <input type="text" id="cvlac" name="cvlac" class="form-control">
            </div>
            <div class="mb-3">
                <label for="categoria_colciencias_esperada" class="form-label">Categoría Colciencias Esperada:</label>
                <input type="text" id="categoria_colciencias_esperada" name="categoria_colciencias_esperada" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-warning">Crear</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-top">
  <p class="enlaces"><a class="a-enlaces" href="/vistaInicio">Inicio \ </a> <a class="a-enlaces" href="/vistaInvestigaciones">Investigaciones \</a></p>
  <h1>Investigadores</h1>

  <div class="search-bar">
    <div class="custom-menu">
      <button class="custom-menu-button">Acciones ⬇️</button>
      <div class="custom-menu-list">
          <li> <img src="{{ url_for('static', filename='img/layout.png') }}"> Columnas </li>
          <li> <img src="{{ url_for('static', filename='img/filter.png') }}"> Filtro </li>
          <li> <img src="{{ url_for('static', filename='img/cells.png') }}"> Datos ➡️ 
            <ul class="custom-submenu">
              <li>Ordenar</li>
              <li>Agregar</li>
              <li>Calcular</li>
              <li>Flashback</li>
          </ul>
          </li>
          <li> <img src="{{ url_for('static', filename='img/wrench.png') }}"> Formato ➡️
            <ul class="custom-submenu">
              <li>Divisiòn de control</li>
              <li>Resaltar</li>
              <li>Filas por página</li>
          </ul>
          </li>
          <li> <img src="{{ url_for('static', filename='img/chart.png') }}"> Gráfico</li>
          <li><img src="{{ url_for('static', filename='img/database.png') }}"> Agrupar por</li>
          <li> <img src="{{ url_for('static', filename='img/dynamic.png') }}"> Dinamica </li>
          <li><img src="{{ url_for('static', filename='img/flag.png') }}"> Informe ➡️
            <ul class="custom-submenu">
              <li>Guardar informe</li>
              <li>Restablecer</li>
          </ul>
          </li>
          <li> <img src="{{ url_for('static', filename='img/download.png') }}"> Descargar</li>
          <li> <img src="{{ url_for('static', filename='img/communication.png') }}"> Suscripción</li>
          <li><img src="{{ url_for('static', filename='img/question.png') }}"> Ayuda</li>


</div>
      
  </div>
    <button class="search-button" id="searchButton">
      <img src="{{ url_for('static', filename='img/lupa.png') }}"></button>
      <input type="text" class="search-input" id="searchInput" placeholder="Buscar grupo...">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
      Crear
    </button>
  </div>
</div>
<table class="table" id="groupsTable">

  <thead>
    <tr>
      <th>Identificación</th>
      <th>Investigador</th>
      <th>Facultad</th>
      <th>Nivel de formación</th>
      <th>Correo</th>
      <th>Teléfono</th>
    </tr>
  </thead>
  <tbody>
    {% for investigador in investigadores %}
  <tr>
    <td>{{ investigador.cedula }}</td>
    <td><a class="a-td" href="#" data-bs-toggle="modal" data-bs-target="#investigadorModal"
      data-id-investigador="{{ investigador.id_investigador }}"
      data-categoria-colciencias="{{ investigador.categoria_colciencias }}"
      data-tipo-contrato="{{ investigador.tipo_contrato }}"
      data-nivel-formacion="{{ investigador.nivel_de_formacion }}"
      data-orcid="{{ investigador.orcid }}"
      data-correo="{{ investigador.correo }}"
      data-telefono="{{ investigador.telefono }}"
      data-fecha-inicio="{{ investigador.fecha_inicio }}"
      data-fecha-final="{{ investigador.fecha_final }}"
      data-categoria-colciencias-esperada="{{ investigador.categoria_colciencias_esperada }}"
      data-cvlac="{{ investigador.cvlac }}"
      data-cedula="{{ investigador.cedula }}"
      data-nombre-investigador="{{ investigador.nombre_investigador }}"
      data-categoria-institucion="{{ investigador.categoria_institucion }}"
      data-id-facultad="{{ investigador.id_facultad }}"

 
      >{{ investigador.nombre_investigador }}</a></td>
    <td>{{ investigador.id_facultad }}</td>
    <td>{{ investigador.nivel_de_formacion }}</td>
    <td>{{ investigador.correo }}</td>
    <td>{{ investigador.telefono }}</td>
  
 

  </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
