{% extends "base.html" %}
{% block title %}Investigadores{% endblock %}

{% block content %}

<div class="modal fade" id="investigadorModal" tabindex="-1" aria-labelledby="investigadorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="max-width: 1500px;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="investigadorModalLabel">Detalles del investigqador</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Tabs para organizar la información -->
        <ul class="nav nav-tabs" id="investigadorTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="info-general-tab" data-bs-toggle="tab" data-bs-target="#info-general" type="button" role="tab" aria-controls="info-general" aria-selected="true">Investigador</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="proyectos-tab" data-bs-toggle="tab" data-bs-target="#proyectos" type="button" role="tab" aria-controls="proyectos" aria-selected="false">Proyectos</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="productos-tab" data-bs-toggle="tab" data-bs-target="#productos" type="button" role="tab" aria-controls="productos" aria-selected="false">Productos</button>
          </li>
          </ul>

        <!-- Contenido de las pestañas -->
        <div class="tab-content" id="investigadorTabContent">
          <div class="tab-pane fade show active" id="info-general" role="tabpanel" aria-labelledby="info-general-tab">
            <br><!-- Información General -->
          <div class="header-container">
            <h4 id="modalNombreInvestigador" >Nombre del Investigador</h4>
            <button type="button" class="btn btn-secondary" id="modalEditInvestiButton" data-bs-toggle="modal" data-bs-target="#modalEditInvesti">Editar</button>
          </div>

            <table class="table">
              <tbody id="modalTableBody">
                <!-- La información general del investigador se insertará aquí mediante JavaScript -->
              </tbody>
            </table>
            </div>
          

          <!-- Proyectos-->
          <div class="tab-pane fade" id="proyectos" role="tabpanel" aria-labelledby="proyectos-tab">
            
          </div>

          <!-- Productos -->
          <div class="tab-pane fade" id="productos" role="tabpanel" aria-labelledby="productos-tab">
            
          </div>


          <!--Investigadores-->
         
     </div>
    </div>
  </div>
</div>
</div>
</div>
</div>



<!-- Modal para crear investigador -->
<div class="modal fade" id="staticBackdrop2" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear Investigador</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createForm" action="/createinvestigador" method="POST">
            <div class="mb-3">
                <label for="cedula" class="form-label">Cédula:</label>
                <input type="text" id="cedula" name="cedula" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="nombre_investigador" class="form-label">Nombre del Investigador:</label>
                <input type="text" id="nombre_investigador" name="nombre_investigador" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="categoria_institucion" class="form-label">Categoría Institución:</label>
                <input type="text" id="categoria_institucion" name="categoria_institucion" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="id_facultad" class="form-label">ID Facultad:</label>
                <select id="id_facultad" name="id_facultad" class="form-select" required>
                    <option value="">Seleccione una facultad</option>
                    {% for facultad in facultades %}
                        <option value="{{ facultad.id_facultad }}">{{ facultad.nombre_facultad }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="categoria_colciencias" class="form-label">Categoría Colciencias:</label>
                <input type="text" id="categoria_colciencias" name="categoria_colciencias" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="orcid" class="form-label">ORCID:</label>
                <input type="text" id="orcid" name="orcid" class="form-control">
            </div>
            <div class="mb-3">
                <label for="tipo_contrato" class="form-label">Tipo de Contrato:</label>
                <input type="text" id="tipo_contrato" name="tipo_contrato" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="nivel_de_formacion" class="form-label">Nivel de Formación:</label>
                <input type="text" id="nivel_de_formacion" name="nivel_de_formacion" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">Correo Electrónico:</label>
                <input type="email" id="correo" name="correo" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="fecha_inicio" class="form-label">Fecha de Inicio:</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="fecha_final" class="form-label">Fecha de Finalización:</label>
                <input type="date" id="fecha_finalizacion" name="fecha_final" class="form-control">
            </div>
            <div class="mb-3">
                <label for="cvlac" class="form-label">CVLAC:</label>
                <input type="text" id="cvlac" name="cvlac" class="form-control">
            </div>
            <div class="mb-3">
                <label for="categoria_colciencias_esperada" class="form-label">Categoría Colciencias Esperada:</label>
                <input type="text" id="categoria_colciencias_esperada" name="categoria_colciencias_esperada" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-warning">Crear</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-top">
  <p class="enlaces"><a class="a-enlaces" href="/vistaInicio">Inicio \ </a> <a class="a-enlaces" href="/vistaInvestigaciones">Investigaciones \</a></p>
  <h1>Investigadores</h1>

<div class="search-bar">
  <button class="search-button" id="searchButton">
    <img src="{{ url_for('static', filename='img/lupa.png') }}""></button>
    <input type="text" class="search-input" id="searchInput" placeholder="Buscar investigador...">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
    Crear
  </button>
</div>
</div>
<table class="table" id="groupsTable">

  <thead>
    <tr>
      <th>Identificación</th>
      <th>Investigador</th>
      <th>Facultad</th>
      <th>Nivel de formación</th>
      <th>Correo</th>
      <th>Teléfono</th>
    </tr>
  </thead>
  <tbody>
    {% for investigador in investigadores %}
  <tr>
    <td>{{ investigador.cedula }}</td>
    <td><a class="a-td" href="#" data-bs-toggle="modal" data-bs-target="#investigadorModal"
      data-id-investigador="{{ investigador.id_investigador }}"
      data-categoria-colciencias="{{ investigador.categoria_colciencias }}"
      data-tipo-contrato="{{ investigador.tipo_contrato }}"
      data-nivel-formacion="{{ investigador.nivel_de_formacion }}"
      data-orcid="{{ investigador.orcid }}"
      data-correo="{{ investigador.correo }}"
      data-telefono="{{ investigador.telefono }}"
      data-fecha-inicio="{{ investigador.fecha_inicio }}"
      data-fecha-final="{{ investigador.fecha_final }}"
      data-categoria-colciencias-esperada="{{ investigador.categoria_colciencias_esperada }}"
      data-cvlac="{{ investigador.cvlac }}"
      data-cedula="{{ investigador.cedula }}"
      data-nombre-investigador="{{ investigador.nombre_investigador }}"
      data-categoria-institucion="{{ investigador.categoria_institucion }}"
      data-id-facultad="{{ investigador.id_facultad }}"

 
      >{{ investigador.nombre_investigador }}</a></td>
    <td>{{ investigador.id_facultad }}</td>
    <td>{{ investigador.nivel_de_formacion }}</td>
    <td>{{ investigador.correo }}</td>
    <td>{{ investigador.telefono }}</td>
  
 

  </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Agrega un evento click a todos los enlaces con la clase 'a-td'
    document.querySelectorAll('.a-td').forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault(); // Evita el comportamiento por defecto del enlace

        // Obtén la información del investigador desde los atributos de datos del enlace
        var idInvestigador = this.getAttribute('data-id-investigador');
        var categoriaColciencias = this.getAttribute('data-categoria-colciencias');
        var tipoContrato = this.getAttribute('data-tipo-contrato');
        var nivelFormacion = this.getAttribute('data-nivel-formacion');
        var orcid = this.getAttribute('data-orcid');
        var correo = this.getAttribute('data-correo');
        var telefono = this.getAttribute('data-telefono');
        var fechaInicio = this.getAttribute('data-fecha-inicio');
        var fechaFinal = this.getAttribute('data-fecha-final');
        var categoriaColcienciasEsperada = this.getAttribute('data-categoria-colciencias-esperada');
        var cvlac = this.getAttribute('data-cvlac');
        var cedula = this.getAttribute('data-cedula');
        var nombreInvestigador = this.getAttribute('data-nombre-investigador');
        var categoriaInstitucion = this.getAttribute('data-categoria-institucion');
        var idFacultad = this.getAttribute('data-id-facultad');


        // Actualiza el contenido del modal de detalles
        document.getElementById('modalNombreInvestigador').textContent = nombreInvestigador;
        var tableContent = `
         <tr>
            <th>ID Investigador</th>
            <td>${idInvestigador}</td>
        </tr>
        <tr>
            <th>Categoría Colciencias</th>
            <td>${categoriaColciencias}</td>
        </tr>
        <tr>
            <th>Tipo de Contrato</th>
            <td>${tipoContrato}</td>
        </tr>
        <tr>
            <th>Nivel de Formación</th>
            <td>${nivelFormacion}</td>
        </tr>
        <tr>
            <th>ORCID</th>
            <td>${orcid}</td>
        </tr>
        <tr>
            <th>Correo</th>
            <td>${correo}</td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td>${telefono}</td>
        </tr>
        <tr>
            <th>Fecha de Inicio</th>
            <td>${fechaInicio}</td>
        </tr>
        <tr>
            <th>Fecha Final</th>
            <td>${fechaFinal}</td>
        </tr>
        <tr>
            <th>Categoría Colciencias Esperada</th>
            <td>${categoriaColcienciasEsperada}</td>
        </tr>
        <tr>
            <th>CVLAC</th>
            <td>${cvlac}</td>
        </tr>
        <tr>
            <th>Cédula</th>
            <td>${cedula}</td>
        </tr>
        <tr>
            <th>Nombre Investigador</th>
            <td>${nombreInvestigador}</td>
        </tr>
        <tr>
            <th>Categoría Institución</th>
            <td>${categoriaInstitucion}</td>
        </tr>
        <tr>
            <th>ID Facultad</th>
            <td>${idFacultad}</td>
        </tr>

          <br>
          <button type="submit" class="btn btn-danger" id="deleteButton" style = "margin-left:10px;">Eliminar</button>
          <br>
        `;
        document.getElementById('modalTableBody').innerHTML = tableContent;

        // Agrega el evento click al botón de eliminar
        document.getElementById('deleteButton').addEventListener('click', function() {
          if (confirm('¿Estás seguro de que deseas eliminar este investigador?')) {
            // Aquí debes hacer la llamada a la API para eliminar el investigador utilizando el idinvestigador
            fetch('/deleteinvestigador', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ id_investigador: idInvestigador })
            })
            .then(response => response.json().then(data => ({ status: response.status, body: data})))
            .then(data => {
              if (data.status === 200 && data.body.message.includes("correctamente")) {
                alert(data.body.message);

                // Cerrar el modal utilizando JavaScript puro
                let modal = document.getElementById('investigadorModal');
                let backdrop = document.querySelector('.modal-backdrop');
                modal.classList.remove('show');
                modal.setAttribute('aria-hidden', 'true');
                modal.style.display = 'none';
                if (backdrop) {
                    backdrop.remove();
                }
                document.body.classList.remove('modal-open');
                document.body.style.removeProperty('padding-right');
                
                // Recargar la página después de cerrar el modal
                setTimeout(() => location.reload(), 500); 
              } else {
                alert('Error al eliminar el investigador: ' + data.body.message);
              }
            })
            .catch(error => {
              console.error('Error:', error);
              alert('Error al eliminar el investigador: ' + error.message);
            });
          }
        });

        // Agrega el evento click al botón de Modificar
        document.querySelector('#modalEditInvestiButton').addEventListener('click', function() {
          // Pasa la información al modal de edición
          document.getElementById('id_investigador_edit').value = idInvestigador;  // Asigna el ID del investigador
          document.getElementById('categoria_colciencias_edit').value = categoriaColciencias;
          document.getElementById('tipo_contrato_edit').value = tipoContrato;
          document.getElementById('nivel_formacion_edit').value = nivelFormacion;
          document.getElementById('orcid_edit').value = orcid;
          document.getElementById('correo_edit').value = correo;
          document.getElementById('telefono_edit').value = telefono;
          document.getElementById('fecha_inicio_edit').value = fechaInicio;
          document.getElementById('fecha_final_edit').value = fechaFinal;
          document.getElementById('categoria_colciencias_esperada_edit').value = categoriaColcienciasEsperada;
          document.getElementById('cvlac_edit').value = cvlac;
          document.getElementById('cedula_edit').value = cedula;
          document.getElementById('nombre_investigador_edit').value = nombreInvestigador;
          document.getElementById('categoria_institucion_edit').value = categoriaInstitucion;
          document.getElementById('id_facultad_edit').value = idFacultad;  // Asegúrate de que el valor coincida con la ID de la facultad

          // Asigna otros campos adicionales
        });

         // Agrega el evento click al botón de finalizar modificacion
         document.getElementById('updateButton').addEventListener('click', function(event) {
            var form = document.getElementById('EditForm');
            var formData = new FormData(form);

            fetch('/updateinvestigador', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    // Mostrar un mensaje de confirmación
                    alert(data.message);
                    // Recargar la página
                    window.location.reload();
                } else {
                    alert("Error al procesar la solicitud.");
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert("Ocurrió un error al procesar la solicitud.");
            });
        });

        // Agrega el evento click al botón de finalizar cracion
        document.getElementById('createButton').addEventListener('click', function(event) {
        console.log('Botón clickeado'); // Verificar si el evento se está capturando
        var form = document.getElementById('createForm');
        var formData = new FormData(form);

        fetch('/createinvestigador', {  // Nota: Verifica que la URL coincida con tu endpoint
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                // Mostrar un mensaje de confirmación
                alert(data.message);
                // Recargar la página
                window.location.reload();
            } else {
                alert("Error al procesar la solicitud.");
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            alert("Ocurrió un error al procesar la solicitud.");
        });
    });
          

          
        });
      });
    });
  
</script> 

{% endblock content %}
