{% extends "base.html" %}

{% block title %}Semilleros de investigación{% endblock %}

<main>
  {% block content %}
      <h1 style="margin-top: 80px;">Semilleros de investigación</h1>
      <div class="search-bar">
        <button class="search-button"><img src="{{ url_for('static', filename='img/lupa.png') }}""></button>
        <input type="text" class="search-input" placeholder="Buscar grupo...">
        <button class="search-create">Crear</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>Semillero de investigación</th>
            <th>Línea de investigación</th>
            <th>Fecha de inicio</th>
            <th>Lider del Semillero</th>
            <th>Facultad</th>
            <th>Grupo de investigación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Casos y Estudios Organizacionales- CEO</td>
            <td>COL0013049</td>
            <td>Colciencias</td>
            <td>Facultad Ciencias Empresariales</td>
            <td>Erika Maria Londoño Montoya</td>
          </tr>
          <!-- Agrega más filas aquí con los datos correspondientes -->
        </tbody>
      </table>
  
    </main>
  
    <footer>
      <div class="footer-left">
        <p>versión 1.0</p>
        <a href="#">Activar Modo de Lector de Pantalla</a>
      </div>
      <div class="footer-right">
        <img src="path-to-footer-image.png" alt="Footer Design">
      </div>
    </footer>
  </body>
  

</html>

{% endblock %}