{% extends "base.html" %}
{% block title %}Base{% endblock %}

{% block content %}

<!-- Modal para mostrar detalles del estudiante -->
<div class="modal fade" id="estudianteModal" tabindex="-1" aria-labelledby="estudianteModalLabel" aria-hidden="true">
  <div class="modal-dialog custom-width">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="estudianteModalLabel">Detalles del Estudiante</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 id="modalNombreEstudiante">Nombre del Estudiante</h2>
        <table class="table">
          <tbody id="modalTableBody">
            <!-- La información del estudiante se insertará aquí mediante JavaScript -->
          </tbody>
        </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-warning" id="modifyButton">Modificar</button>
          <button type="button" class="btn btn-danger" id="deleteButton">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para crear estudiante -->
<div class="modal fade" id="staticBackdrop2" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir estudiante</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createEstudianteForm" action="/createestudiante" method="POST">
          <div class="mb-3">
            <label for="identificacion" class="form-label">Identificación:</label>
            <input type="text" id="identificacion" name="identificacion" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="nombre_estudiante" class="form-label">Nombre del estudiante:</label>
            <input type="text" id="nombre_estudiante" name="nombre_estudiante" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="codigo" class="form-label">Código:</label>
            <input type="text" id="codigo" name="codigo" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="correo" class="form-label">Correo:</label>
            <input type="email" id="correo" name="correo" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="id_facultad" class="form-label">ID Facultad:</label>
            <select id="id_facultad" name="id_facultad" class="form-select" required>
              <option value="">Seleccione una facultad</option>
              {% for facultad in facultades %}
                <option value="{{ facultad.id_facultad }}">{{ facultad.nombre_facultad }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-warning">Crear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<h1 style="margin-top: 80px;">Estudiantes</h1>
<div class="search-bar">
  <button class="search-button"><img src="{{ url_for('static', filename='img/lupa.png') }}""></button>
  <input type="text" class="search-input" placeholder="Buscar estudiante...">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
    Crear
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Identificación</th>
      <th>Nombre completo</th>
      <th>Código</th>
      <th>Correo</th>
      <th>Facultad</th>
    </tr>
  </thead>
  <tbody>
    {% for estudiante in estudiantes %}
    <tr class="a-td"
        data-identificacion="{{ estudiante.identificacion }}"
        data-nombre="{{ estudiante.nombre_estudiante }}"
        data-codigo="{{ estudiante.codigo }}"
        data-correo="{{ estudiante.correo }}"
        data-facultad="{{ estudiante.id_facultad }}">
      <td>{{ estudiante.identificacion }}</td>
      <td>{{ estudiante.nombre_estudiante }}</td>
      <td>{{ estudiante.codigo }}</td>
      <td>{{ estudiante.correo }}</td>
      <td>{{ estudiante.id_facultad }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Agrega un evento click a todos los enlaces con la clase 'a-td'
    document.querySelectorAll('.a-td').forEach(function(row) {
      row.addEventListener('click', function(event) {
        // Obtén la información del estudiante desde los atributos de datos del enlace
        var identificacion = this.getAttribute('data-identificacion');
        var nombreEstudiante = this.getAttribute('data-nombre');
        var codigoEstudiante = this.getAttribute('data-codigo');
        var correo = this.getAttribute('data-correo');
        var nombreFacultad = this.getAttribute('data-facultad');

        // Actualiza el contenido del modal
        document.getElementById('modalNombreEstudiante').textContent = nombreEstudiante;
        var tableContent = `
          <tr>
            <th>Identificación</th>
            <td>${identificacion}</td>
          </tr>
          <tr>
            <th>Nombre completo</th>
            <td>${nombreEstudiante}</td>
          </tr>
          <tr>
            <th>Código</th>
            <td>${codigoEstudiante}</td>
          </tr>
          <tr>
            <th>Correo</th>
            <td>${correo}</td>
          </tr>
          <tr>
            <th>Facultad</th>
            <td>${nombreFacultad}</td>
          </tr>
        `;
        document.getElementById('modalTableBody').innerHTML = tableContent;
      });
    });
  });
</script>

{% endblock content %}
