{% extends "base.html" %}
{% block title %}Proyectos de investigaciónn{% endblock %}

{% block content %}

<!-- Modal para mostrar detalles del grupo -->
<div class="modal fade" id="proyectoIModal" tabindex="-1" aria-labelledby="proyectoIModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="max-width: 1500px;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="proyectoIModalLabel">Detalles del proyecto de investigación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Tabs para organizar la información -->
        <ul class="nav nav-tabs" id="proyectoITab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="info-general-tab" data-bs-toggle="tab" data-bs-target="#info-general" type="button" role="tab" aria-controls="info-general" aria-selected="true" style="color: #b54f25;">Proyecto I</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="lineas-tab" data-bs-toggle="tab" data-bs-target="#lineas" type="button" role="tab" aria-controls="lineas" aria-selected="false" style="color: #b54f25;">Lineas de investigación</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="proyectos-tab" data-bs-toggle="tab" data-bs-target="#proyectos" type="button" role="tab" aria-controls="proyectos" aria-selected="false" style="color: #b54f25;">Proyectos de investigación</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="Investigadores-tab" data-bs-toggle="tab" data-bs-target="#investigadores" type="button" role="tab" aria-controls="investigadores" aria-selected="false" style="color: #b54f25;">Investigadores integrantes</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="semilleros-tab" data-bs-toggle="tab" data-bs-target="#semilleros" type="button" role="tab" aria-controls="semilleros" aria-selected="false"  style="color: #b54f25;">Semilleros de investigación</button>
          </li>
        </ul>

        <!-- Contenido de las pestañas -->
        <div class="tab-content" id="grupoTabContent">
          <!-- Información General -->
          <div class="tab-pane fade show active" id="info-general" role="tabpanel" aria-labelledby="info-general-tab">
            <br>
            <div class="header-container">
              <h4 id="modalNombreGrupo" >Nombre del grupo</h4>
              <button type="button" class="btn btn-secondary" id="modalEditGroupButton" data-bs-toggle="modal" data-bs-target="#modalEditGroup">Editar</button>
            </div>
          
            <table class="table">
              <tbody id="modalTableBody">
              </tbody>
            </table>
          </div>
          

          <!-- Lineas -->
          <div class="tab-pane fade" id="lineas" role="tabpanel" aria-labelledby="lineas-tab">
            <table class="table" id="groupsTable">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for linea in lineas %}
                <tr>
                  <td>{{ linea.nombre_linea }} </td>
                  <td>{{ linea.descripcion }}</td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <ul id="listaLineas">
              <!-- Aquí puedes cargar la lista de investigadores relacionados al grupo -->
            </ul>
          </div>

          <!-- Proyectos -->
          <div class="tab-pane fade" id="proyectos" role="tabpanel" aria-labelledby="proyectos-tab">
            <table class="table" >
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>id grupo lider</th>
                  <th>nombre convocatoria</th>

                  
                </tr>
              </thead>
              <tbody>
                {% for proyecto in proyectos %}
                <tr>
                  <td>{{ proyecto.nombre_proyecto }} </td>
                  <td>{{ proyecto.id_grupo_lider }} </td>
                  <td>{{ proyecto.nombre_convocatoria }} </td>


                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <ul id="listaProyectos">
              <!-- Aquí puedes cargar la lista de proyectos relacionados al grupo -->
            </ul>
          </div>


          <!--Investigadores-->
          <div class="tab-pane fade" id="investigadores" role="tabpanel" aria-labelledby="investigadores-tab">
            <table class="table" >
              <thead>
                <tr>
                   <th>ID Investigador</th>
                   <th>ID Proyecto</th>
                   <th>Tipo de Participación</th>
                   <th>Horas Fase 1</th>
                   <th>Horas Fase 2</th>
                   <th>Horas Fase 3</th>
                   <th>Horas Fase 4</th>
                   <th>Horas Fase 5</th>
                   <th>Horas Fase 6</th>
                </tr>
              </thead>
              <tbody>
                {% for investigador_asociado in investigadores_asociados %}
                <tr>
                  <td>{{ investigador_asociado.id_investigador }}</td>
                  <td>{{ investigador_asociado.id_proyecto }}</td>
                  <td>{{ investigador_asociado.tipo_participacion }}</td>
                  <td>{{ investigador_asociado.horas_fase_1 }}</td>
                  <td>{{ investigador_asociado.horas_fase_2 }}</td>
                  <td>{{ investigador_asociado.horas_fase_3 }}</td>
                  <td>{{ investigador_asociado.horas_fase_4 }}</td>
                  <td>{{ investigador_asociado.horas_fase_5 }}</td>
                  <td>{{ investigador_asociado.horas_fase_6 }}</td>
                  


                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <ul id="listaInvestigadores">
              <!-- Aquí puedes cargar la lista de proyectos relacionados al grupo -->
            </ul>
          </div>

           <!--semilleros-->
           <div class="tab-pane fade" id="semilleros" role="tabpanel" aria-labelledby="semilleros-tab">
            <table class="table" >
              <thead>
                <tr>
                   <th>Nombre</th>
                   <th>Objetivo</th>
                   <th>Descripción</th>
                </tr>
              </thead>
              <tbody>
                {% for semillero in semilleros %}
                <tr>
                  <td>{{ semillero.nombre_semillero }}</td>
                  <td>{{ semillero.objetivos }}</td>
                  <td>{{ semillero.descripcion_semillero }}</td>
                  


                  
                </tr>
                {% endfor %}
              </tbody>
            </table>              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal para crear grupo -->
<div class="modal fade" id="staticBackdrop2" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear Grupo de Investigación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createForm" action="/creategrupo" method="POST">
          <div class="mb-3">
            <label for="nombre_grupo" class="form-label">Nombre del grupo:</label>
            <input type="text" id="nombre_grupo" name="nombre_grupo" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="codigo_grup_lac" class="form-label">Código grup lac:</label>
            <input type="text" id="codigo_grup_lac" name="codigo_grup_lac" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="categoria_colciencias" class="form-label">Categoría Colciencias:</label>
            <input type="text" id="categoria_colciencias" name="categoria_colciencias" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="area_conocimiento" class="form-label">Área de conocimiento:</label>
            <input type="text" id="area_conocimiento" name="area_conocimiento" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="id_facultad" class="form-label">ID Facultad:</label>
            <select id="id_facultad" name="id_facultad" class="form-select" required>
              <option value="">Seleccione una facultad</option>
              {% for facultad in facultades %}
                <option value="{{ facultad.id_facultad }}">{{ facultad.nombre_facultad }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="fecha_creacion" class="form-label">Fecha de creación:</label>
            <input type="date" id="fecha_creacion" name="fecha_creacion" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="fecha_finalizacion" class="form-label">Fecha de finalización:</label>
            <input type="date" id="fecha_finalizacion" name="fecha_finalizacion" class="form-control">
          </div>
          <div class="mb-3">
            <label for="id_lider" class="form-label">ID Líder:</label>
            <select id="id_lider" name="id_lider" class="form-select" required>
              <option value="">Seleccione un lider</option>
              {% for investigador in investigadores %}
                <option value="{{ investigador.id_investigador }}">{{ investigador.nombre_investigador }}</option>
              {% endfor %}
            </select>         
           </div>
          <div class="mb-3">
            <label for="plan_estrategico" class="form-label">Plan estratégico:</label>
            <textarea id="plan_estrategico" name="plan_estrategico" class="form-control" required></textarea>
          </div>
          <div class="mb-3">
            <label for="categoria_meta" class="form-label">Categoría meta:</label>
            <input type="text" id="categoria_meta" name="categoria_meta" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="estrategia_meta" class="form-label">Estrategia meta:</label>
            <textarea id="estrategia_meta" name="estrategia_meta" class="form-control" required></textarea>
          </div>
          <div class="mb-3">
            <label for="vision" class="form-label">Visión:</label>
            <textarea id="vision" name="vision" class="form-control" required></textarea>
          </div>
          <div class="mb-3">
            <label for="objetivos" class="form-label">Objetivos:</label>
            <textarea id="objetivos" name="objetivos" class="form-control" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-secondary" id="createButton">Crear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para modificar grupo -->
<div class="modal fade" id="modalEditGroup" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modificar Grupo de Investigación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="EditForm"  method="POST">
          <!-- ID del grupo (oculto) -->
          <input type="hidden" id="id_grupo_edit" name="id_grupo">

          <div class="mb-3">
            <label for="nombre_grupo_edit" class="form-label">Nombre del grupo:</label>
            <input type="text" id="nombre_grupo_edit" name="nombre_grupo" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="codigo_grup_lac_edit" class="form-label">Código grup lac:</label>
            <input type="text" id="codigo_grup_lac_edit" name="codigo_grup_lac" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="categoria_colciencias_edit" class="form-label">Categoría Colciencias:</label>
            <input type="text" id="categoria_colciencias_edit" name="categoria_colciencias" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="area_conocimiento_edit" class="form-label">Área de conocimiento:</label>
            <input type="text" id="area_conocimiento_edit" name="area_conocimiento" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="id_facultad_edit" class="form-label">ID Facultad:</label>
            <select id="id_facultad_edit" name="id_facultad" class="form-select" required>
              <option value="">Seleccione una facultad</option>
              {% for facultad in facultades %}
                <option value="{{ facultad.id_facultad }}">{{ facultad.nombre_facultad }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="fecha_creacion_edit" class="form-label">Fecha de creación:</label>
            <input type="date" id="fecha_creacion_edit" name="fecha_creacion" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="fecha_finalizacion_edit" class="form-label">Fecha de finalización:</label>
            <input type="date" id="fecha_finalizacion_edit" name="fecha_finalizacion" class="form-control">
          </div>
          <div class="mb-3">
            <label for="id_lider_edit" class="form-label">ID Líder:</label>
            <select id="id_lider_edit" name="id_lider" class="form-select" required>
              <option value="">Seleccione un líder</option>
              {% for investigador in investigadores %}
                <option value="{{ investigador.id_investigador }}">{{ investigador.nombre_investigador }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="plan_estrategico_edit" class="form-label">Plan estratégico:</label>
            <textarea id="plan_estrategico_edit" name="plan_estrategico" class="form-control" required></textarea>
          </div>
          <div class="mb-3">
            <label for="categoria_meta_edit" class="form-label">Categoría meta:</label>
            <input type="text" id="categoria_meta_edit" name="categoria_meta" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="estrategia_meta_edit" class="form-label">Estrategia meta:</label>
            <textarea id="estrategia_meta_edit" name="estrategia_meta" class="form-control" required></textarea>
          </div>
          <div class="mb-3">
            <label for="vision_edit" class="form-label">Visión:</label>
            <textarea id="vision_edit" name="vision" class="form-control" required></textarea>
          </div>
          <div class="mb-3">
            <label for="objetivos_edit" class="form-label">Objetivos:</label>
            <textarea id="objetivos_edit" name="objetivos" class="form-control" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-warning" id="updateButton">Modificar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-top">
  <p class="enlaces"><a class="a-enlaces" href="/vistaInicio">Inicio \ </a> <a class="a-enlaces" href="/vistaInvestigaciones">Investigaciones \</a></p>
  <h1>Grupos de Investigación</h1>

  <div class="search-bar">
    <div class="custom-menu">
      <button class="custom-menu-button">Acciones ⬇️</button>
      <div class="custom-menu-list">
          <li> <img src="{{ url_for('static', filename='img/layout.png') }}"> Columnas </li>
          <li> <img src="{{ url_for('static', filename='img/filter.png') }}"> Filtro </li>
          <li> <img src="{{ url_for('static', filename='img/cells.png') }}"> Datos ➡️ 
            <ul class="custom-submenu">
              <li>Ordenar</li>
              <li>Agregar</li>
              <li>Calcular</li>
              <li>Flashback</li>
          </ul>
          </li>
          <li> <img src="{{ url_for('static', filename='img/wrench.png') }}"> Formato ➡️
            <ul class="custom-submenu">
              <li>Divisiòn de control</li>
              <li>Resaltar</li>
              <li>Filas por página</li>
          </ul>
          </li>
          <li> <img src="{{ url_for('static', filename='img/chart.png') }}"> Gráfico</li>
          <li><img src="{{ url_for('static', filename='img/database.png') }}"> Agrupar por</li>
          <li> <img src="{{ url_for('static', filename='img/dynamic.png') }}"> Dinamica </li>
          <li><img src="{{ url_for('static', filename='img/flag.png') }}"> Informe ➡️
            <ul class="custom-submenu">
              <li>Guardar informe</li>
              <li>Restablecer</li>
          </ul>
          </li>
          <li> <img src="{{ url_for('static', filename='img/download.png') }}"> Descargar</li>
          <li> <img src="{{ url_for('static', filename='img/communication.png') }}"> Suscripción</li>
          <li><img src="{{ url_for('static', filename='img/question.png') }}"> Ayuda</li>


</div>
      
  </div>
    <button class="search-button" id="searchButton">
      <img src="{{ url_for('static', filename='img/lupa.png') }}"></button>
      <input type="text" class="search-input" id="searchInput" placeholder="Buscar grupo...">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
      Crear
    </button>
  </div>
</div>

<table class="table" id="groupsTable">
  <thead>
    <tr>
      <th>Grupo de investigación</th>
      <th>Código GrupLac</th>
      <th>Categoría Colciencias</th>
      <th>Facultad</th>
      <th>Líder del grupo</th>
      <th>Id del grupo</th>
    </tr>
  </thead>
  <tbody>
    {% for grupo in grupos %}
    <tr>
      <td>
        <a class="a-td" href="#" data-bs-toggle="modal" data-bs-target="#grupoModal"
           data-id="{{ grupo.id_grupo }}"
           data-nombre="{{ grupo.nombre_grupo }}"
           data-codigo="{{ grupo.codigo_grup_lac }}"
           data-categoria="{{ grupo.categoria_colciencias }}"
           data-fecha-creacion="{{ grupo.fecha_creacion }}"
           data-fecha-finalizacion="{{ grupo.fecha_finalizacion }}"
           data-facultad="{{ grupo.nombre_facultad }}"
           data-lider="{{ grupo.nombre_investigador }}"
           data-area="{{ grupo.area_conocimiento }}"
           data-plan="{{ grupo.plan_estrategico }}"
           data-categoriaMeta="{{ grupo.categoria_meta }}"
           data-estrategiaMeta="{{ grupo.estrategia_meta }}"
           data-vision="{{ grupo.vision }}"
           data-objetivos="{{ grupo.objetivos }}">
          {{ grupo.nombre_grupo }}
        </a>
      </td>
      <td>{{ grupo.codigo_grup_lac }}</td>
      <td>{{ grupo.categoria_colciencias }}</td>
      <td>{{ grupo.nombre_facultad }}</td>
      <td>
        <a class="a-td" href="#" data-bs-toggle="modal" data-bs-target="#investigadorModal"
           data-id-investigador="{{ grupo.id_investigador }}"
           data-categoria-colciencias="{{ grupo.categoria_colciencias_investigador }}"
           data-tipo-contrato="{{ grupo.tipo_contrato }}"
           data-nivel-formacion="{{ grupo.nivel_de_formacion }}"
           data-orcid="{{ grupo.orcid }}"
           data-correo="{{ grupo.correo }}"
           data-telefono="{{ grupo.telefono }}"
           data-fecha-inicio="{{ grupo.fecha_inicio }}"
           data-fecha-final="{{ grupo.fecha_final }}"
           data-categoria-colciencias-esperada="{{ grupo.categoria_colciencias_esperada }}"
           data-cvlac="{{ grupo.cvlac }}"
           data-cedula="{{ grupo.cedula }}"
           data-nombre-investigador="{{ grupo.nombre_investigador }}"
           data-categoria-institucion="{{ grupo.categoria_institucion }}"
           data-id-facultad="{{ grupo.id_facultad }}">
          {{ grupo.nombre_investigador }}
        </a>
      </td>
      <td>{{ grupo.id_grupo }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock content %}
