{% extends "base.html" %}
{% block title %}Detalle del Investigador{% endblock %}
{% block content %}
<div class="container-top">
  <p class="enlaces">
    <a class="a-enlaces" href="/vistaInicio">Inicio \ </a>
    <a class="a-enlaces" href="{{ url_for('idVistaInvestigadores.listar') }}">Investigadores \</a>
    <span class="text-secondary">Detalle Investigador</span>
  </p>
</div>
<div class="container mt-4">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="text-investigador m-0 text-center flex-grow-1">{{ investigador.nombre_investigador }}</h3>
      <div class="btn-group">
        <button class="btn btn-usb" type="button" data-bs-toggle="modal" data-bs-target="#editarInvestigador">
          Editar
        </button>
        
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Identificación:</th>
            <td>{{ investigador.cedula }}</td>
            <th>Facultad:</th>
            <td>{{ investigador.nombre_facultad }}</td>
          </tr>
          <tr>
            <th>Nivel de Formación:</th>
            <td>{{ investigador.nivel_de_formacion }}</td>
            <th>Categoría Institución:</th>
            <td>{{ investigador.categoria_institucion }}</td>
          </tr>
          <tr>
            <th>Categoría Colciencias:</th>
            <td>{{ investigador.categoria_colciencias }}</td>
            <th>ORCID:</th>
            <td>{{ investigador.orcid }}</td>
          </tr>
          <tr>
            <th>Correo:</th>
            <td>{{ investigador.correo }}</td>
            <th>Teléfono:</th>
            <td>{{ investigador.telefono }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card py-2">
    <div class="card-header">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active a-usb" id="proyectos-tab" data-bs-toggle="tab" data-bs-target="#proyectos" type="button" role="tab" aria-controls="proyectos" aria-selected="true">
            Proyectos
          </button>
        </li>
        
        <li class="nav-item" role="presentation">
          <button class="nav-link a-usb" id="grupos-tab" data-bs-toggle="tab" data-bs-target="#grupos" type="button" role="tab" aria-controls="grupos" aria-selected="false">
            Grupos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link a-usb" id="lineas-tab" data-bs-toggle="tab" data-bs-target="#lineas" type="button" role="tab" aria-controls="lineas" aria-selected="false">
            Líneas
          </button>
        </li>
      </ul>
    </div>
    <div class="container my-2">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="proyectos" role="tabpanel" aria-labelledby="proyectos-tab">
          <!-- Proyectos -->
          <table class="table align-items-center" id="proyectos">
            <thead>
              <tr>
                <th>Proyecto</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Finalización</th>
              </tr>
            </thead>
            <tbody>
              {% for proyecto in proyectos %}
              <tr>
                <td>
                  <a class="a-td" href="{{ url_for('idVistaProyectosInvestigacion.detalle', id=proyecto.id_proyecto) }}">
                    {{ proyecto.nombre_proyecto }}
                  </a>
                </td>
                <td>{{ proyecto.fecha_inicio }}</td>
                <td>{{ proyecto.fecha_final }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <div class="tab-pane fade" id="grupos" role="tabpanel" aria-labelledby="grupos-tab">
          <!-- Grupos -->
          <table class="table align-items-center" id="grupos">
            <thead>
              <tr>
                <th>Grupo</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Finalización</th>
                <th>Plan Estratégico</th>
              </tr>
            </thead>
            <tbody>
              {% for grupo in grupos %}
              <tr>
                <td>
                  <a class="a-td" href="{{ url_for('idVistaGruposInvestigacion.detalle', id=grupo.id_grupo) }}">{{ grupo.nombre_grupo }}</a>
                </td>
                <td>{{ grupo.fecha_creacion }}</td>
                <td>{{ grupo.fecha_finalizacion }}</td>
                <td>{{ grupo.plan_estrategico }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="lineas" role="tabpanel" aria-labelledby="lineas-tab">
          <!-- Líneas -->
          <table class="table align-items-center" id="lineas">
            <thead>
              <tr>
                <th>Línea</th>
                <th>Descripción</th>  <!-- Nueva columna -->
              </tr>
            </thead>
            <tbody>
              {% for linea in lineas %}
              <tr>
                <td>{{ linea.nombre_linea }}</td>
                <td>{{ linea.descripcion }}</td>  <!-- Nueva columna -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'investigadores/editar.html' %}





{% endblock %}