{% extends "base.html" %} {% block title %} Detalle Semillero{%endblock %} {%
block content %}
{% include 'semilleros/crear-estudiante-semillero.html' %} 
  {% include 'semilleros/crear-plan-semillero.html' %}
<div class="route mx-3 bg-light">
  <p>
    <a class="a-enlaces" href="/vistaInicio">Inicio \ </a>
    <a class="a-enlaces" href="/vistaInvestigaciones">Investigaciones \</a>
    <a
      class="a-enlaces last-enlace"
      href="{{url_for('idVistaSemillerosInvestigacion.listar')}}"
    >
      Semilleros de investigación \
    </a>
    <br id="break-line" />
    <!-- El <br> tiene un id único -->
    <span class="text-secondary">Detalle Semillero</span>
  </p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col" id="mainContent">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <div class="flex-grow-1 text-center">
            <h3 class="text-semillero m-0">
              <strong>{{ semillero.nombre_semillero }}</strong>
            </h3>
          </div>
          <button
            class="btn btn-usb"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#editarSemillero"
          >
            Editar
          </button>

          {% include 'semilleros/editar.html' %}

          <!-- Botón para mostrar/ocultar el menú -->
          <button
            class="btn btn-secundary float-end mx-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#menuCollapseSemillero"
            aria-controls="menuCollapseSemillero"
          >
            <img
              src="{{ url_for('static', filename='icons/menu-right.svg')}}"
              alt=""
            />
          </button>
        </div>

        <ul class="list-group list-group-flush mt-5 text-semillero">
          <li class="list-group-item">
            <p>
              <b class="fs-5 fw-bold">Descripción: </b
              >{{semillero.descripcion_semillero}}
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <b class="fs-5 fw-bold">Líder de semillero: </b
              >{{semillero.nombre_investigador}}
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <b class="fs-5 fw-bold">Linea de investigación: </b
              >{{semillero.nombre_linea}}
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <b class="fs-5 fw-bold">Objetivos: </b>{{semillero.objetivos}}
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <b class="fs-5 fw-bold">Áreas de trabajo: </b
              >{{semillero.areas_de_trabajo}}
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <b class="fs-5 fw-bold">Fecha de inicio: </b
              >{{semillero.fecha_inicio}}
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <b class="fs-5 fw-bold">Fecha de finalización: </b
              >{{semillero.fecha_final}}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!-- Menú lateral derecho -->

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="menuCollapseSemillero"
      aria-labelledby="menuCollapseSemilleroLabel"
    >
      <div
        class="offcanvas-header d-flex justify-content-between align-items-center"
      >
        <h6
          class="offcanvas-title mx-auto fw-bold"
          id="menuCollapseSemilleroLabel"
        >
          Opciones
        </h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="card offcanvas-body">
        <div class="card card-body">
          <!-- Contenido del menú -->
          <button
            id="btnAgregarEstudiante"
            class="btn btn-usb btn-block mb-1"
            type="button"
          >
            Agregar estudiantes
          </button>

          <button
            id="btnAgregarPlan"
            class="btn btn-usb btn-block"
          >
            Agregar plan semillero
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card py-2">
    <div class="card-header">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active a-usb"
            id="integrantes-tab"
            data-bs-toggle="tab"
            data-bs-target="#integrantes"
            type="button"
            role="tab"
            aria-controls="integrantes"
            aria-selected="true"
          >
            Estudiantes Integrantes
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link a-usb"
            id="proyectos-tab"
            data-bs-toggle="tab"
            data-bs-target="#proyectos"
            type="button"
            role="tab"
            aria-controls="proyectos"
            aria-selected="false"
          >
            Proyectos de Formación
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link a-usb"
            id="planes-tab"
            data-bs-toggle="tab"
            data-bs-target="#planes"
            type="button"
            role="tab"
            aria-controls="planes"
            aria-selected="false"
          >
            Planes
          </button>
        </li>
      </ul>
    </div>
    <div class="container my-2">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group col-4">
            <button
              class="btn btn-usb btn-outline-secondary text-white"
              type="button"
              id="button-search"
            >
              <img
                class="text-ligth"
                src="{{ url_for('static', filename='icons/search.svg') }}"
                alt="Search Icon"
              />
            </button>
            <input
              type="search"
              class="form-control"
              placeholder="Buscar ..."
              aria-label="Example text with button addon"
              aria-describedby="button-addon1"
              id="input-search"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="integrantes"
        role="tabpanel"
        aria-labelledby="integrantes-tab"
      >
        <!--Integrantes-->
        <table class="table align-items-center ml-5" id="integrantes">
          <thead>
            <tr>
              <th>Editar</th>
              <th>Estudiante</th>
              <th>Fecha de Inicio</th>
              <th>Fecha de finalización</th>
            </tr>
          </thead>
          <tbody>
            {% for item in integrantes%}
            <tr>
              <td>
                <button
                  class="btn btn-sm btn-light"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#editarIntegrante"
                  onclick="loadData('/semilleros/get_integrante', id_integrante='{{ item.id_estud_semillero }}')"
                >
                  <img
                    src="{{ url_for('static', filename='icons/pencil.svg') }}"
                    alt="Search Icon"
                  />
                </button>
              </td>
              <td>{{item.nombre_estudiante}}</td>
              <td>{{item.fecha_inicio}}</td>
              <td>{{item.fecha_final}}</td>
            </tr>
            {% endfor %} {% include
            'semilleros/editar-estudiante-semillero.html' %}
          </tbody>
        </table>
      </div>
      <div
        class="tab-pane fade"
        id="proyectos"
        role="tabpanel"
        aria-labelledby="proyectos-tab"
      >
        <!--Proyectos-->
        <table class="table align-items-center ml-5" id="proyectos">
          <thead>
            <tr>
              <th>Investigador Asesor</th>
              <th>Fecha de Inicio</th>
              <th>Fecha de terminación</th>
            </tr>
          </thead>
          <tbody>
            {% for item in proyectos%}
            <tr>
              <td>{{item.nombre_proy_form}}</td>
              <td>{{item.fecha_inicio}}</td>
              <td>{{item.fecha_terminacion}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div
        class="tab-pane fade"
        id="planes"
        role="tabpanel"
        aria-labelledby="planes-tab"
      >
        <!--Planes-->
        <table class="table align-items-center" id="planes">
          <thead>
            <tr>
              <th>Editar</th>
              <th>Proyectos Activos</th>
              <th>Periodo</th>
            </tr>
          </thead>
          <tbody>
            {% for item in planes%}
            <tr>
              <td>
                <button
                  class="btn btn-sm btn-light"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#editarPlan"
                  onclick="loadData('/semilleros/get_plan', id_integrante='{{ item.id_plan_trabajo }}')"
                >
                  <img
                    src="{{ url_for('static', filename='icons/pencil.svg') }}"
                    alt="Search Icon"
                  />
                </button>
              </td>
              <td>{{item.proyecto_activos}}</td>
              <td>{{item.periodo}}</td>
            </tr>
            {% endfor %} {% include 'semilleros/editar-plan-semillero.html' %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  // Llama a la función createTableFilter con los IDs dinámicos
  TableFilter("input-search", "button-search", "integrantes");
  TableFilter("input-search", "button-search", "proyectos");
  TableFilter("input-search", "button-search", "planes");
  document.getElementById('btnAgregarPlan').addEventListener('click', function() {
    // Cerrar el offcanvas antes de abrir el modal
    var offcanvas = bootstrap.Offcanvas.getInstance(document.getElementById('menuCollapseSemillero'));
    if (offcanvas) {
        offcanvas.hide(); // Cerrar el offcanvas
    }
  
    // Abrir el modal después de un pequeño retraso para evitar conflictos de enfoque
    setTimeout(function() {
        var modal = new bootstrap.Modal(document.getElementById('crearPlanSemillero'));
        modal.show();
    }, 300); // Retraso de 300 ms (ajustable según sea necesario)
  });
  document.getElementById('btnAgregarEstudiante').addEventListener('click', function() {
    // Cerrar el offcanvas antes de abrir el modal
    var offcanvas = bootstrap.Offcanvas.getInstance(document.getElementById('menuCollapseSemillero'));
    if (offcanvas) {
        offcanvas.hide(); // Cerrar el offcanvas
    }
  
    // Abrir el modal después de un pequeño retraso para evitar conflictos de enfoque
    setTimeout(function() {
        var modal = new bootstrap.Modal(document.getElementById('crearEstudianteSemillero'));
        modal.show();
    }, 300); // Retraso de 300 ms (ajustable según sea necesario)
  });
</script>

{% endblock content%}
