{% extends "base.html" %}
{% block title %}Detalle Proyecto{% endblock %}
{% block content %}
{% include 'proyectosInvestigacion/editar.html' %}

<div class="route mx-3 bg-light">
  <p>
    <a class="a-enlaces" href="/vistaInicio">Inicio \ </a>
    <a class="a-enlaces" href="/vistaInvestigaciones">Investigaciones \</a>
    <a class="a-enlaces last-enlace" href="{{ url_for('idVistaProyectosInvestigacion.listar') }}">Proyectos de investigación \</a>
    <br id="break-line">
    <span class="text-secondary">Detalle Proyecto</span>
  </p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col" id="mainContent">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <div class="flex-grow-1 text-center">
            <h3 class="text-proyecto m-0">
              <strong>{{ proyecto.nombre_proyecto }}</strong>
            </h3>
          </div>
          <button class="btn btn-usb" type="button" data-bs-toggle="modal" data-bs-target="#editarProyecto">
            Editar
          </button>
        </div>

        <div class="card-body">
          <h5 class="card-title">Información General</h5>
          <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item"><b>Código:</b> {{ proyecto.codigo }}</li>
            <li class="list-group-item"><b>Estado:</b> {{ proyecto.estado }}</li>
            <li class="list-group-item"><b>Fecha de Inicio:</b> {{ proyecto.fecha_inicio }}</li>
            <li class="list-group-item"><b>Fecha Final:</b> {{ proyecto.fecha_final }}</li>
            <li class="list-group-item"><b>Convocatoria:</b> {{ proyecto.convocatoria }}</li>
            <li class="list-group-item"><b>Grupo de Investigación:</b> {{ proyecto.nombre_grupo }}</li>
            <li class="list-group-item"><b>Línea de Investigación:</b> {{ proyecto.nombre_linea }}</li>
            <li class="list-group-item"><b>Nombre de la Convocatoria:</b> {{ proyecto.nombre_convocatoria }}</li>
          </ul>

          <h5 class="card-title mt-4">Documentos</h5>
          <ul class="list-group list-group-flush mt-3">
            {% if proyecto.nombre_acta_inicio %}
              <li class="list-group-item"><b>Acta de Inicio:</b> <a href="{{ url_for('idVistaProyectosInvestigacion.descargar_archivo', tipo='acta_inicio', id=proyecto.id_proyecto) }}">{{ proyecto.nombre_acta_inicio }}</a></li>
            {% endif %}
            {% if proyecto.nombre_acta_finalizacion %}
              <li class="list-group-item"><b>Acta de Finalización:</b> <a href="{{ url_for('idVistaProyectosInvestigacion.descargar_archivo', tipo='acta_finalizacion', id=proyecto.id_proyecto) }}">{{ proyecto.nombre_acta_finalizacion }}</a></li>
            {% endif %}
            {% if proyecto.nombre_presupuesto %}
              <li class="list-group-item"><b>Presupuesto:</b> <a href="{{ url_for('idVistaProyectosInvestigacion.descargar_archivo', tipo='presupuesto', id=proyecto.id_proyecto) }}">{{ proyecto.nombre_presupuesto }}</a></li>
            {% endif %}
            {% if proyecto.nombre_propuesta %}
              <li class="list-group-item"><b>Propuesta:</b> <a href="{{ url_for('idVistaProyectosInvestigacion.descargar_archivo', tipo='propuesta', id=proyecto.id_proyecto) }}">{{ proyecto.nombre_propuesta }}</a></li>
            {% endif %}
            {% if proyecto.nombre_acta_comite %}
              <li class="list-group-item"><b>Acta de Comité:</b> <a href="{{ url_for('idVistaProyectosInvestigacion.descargar_archivo', tipo='acta_comite', id=proyecto.id_proyecto) }}">{{ proyecto.nombre_acta_comite }}</a></li>
            {% endif %}
            {% if proyecto.nombre_convenio_marco %}
              <li class="list-group-item"><b>Convenio Marco:</b> <a href="{{ url_for('idVistaProyectosInvestigacion.descargar_archivo', tipo='convenio_marco', id=proyecto.id_proyecto) }}">{{ proyecto.nombre_convenio_marco }}</a></li>
            {% endif %}
            {% if proyecto.nombre_convenio_especifico %}
              <li class="list-group-item"><b>Convenio Específico:</b> <a href="{{ url_for('idVistaProyectosInvestigacion.descargar_archivo', tipo='convenio_especifico', id=proyecto.id_proyecto) }}">{{ proyecto.nombre_convenio_especifico }}</a></li>
            {% endif %}
            {% if proyecto.nombre_carta_intencion %}
              <li class="list-group-item"><b>Carta de Intención:</b> <a href="{{ url_for('idVistaProyectosInvestigacion.descargar_archivo', tipo='carta_de_intencion', id=proyecto.id_proyecto) }}">{{ proyecto.nombre_carta_intencion }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}