<div class="modal fade" id="editarProyecto" tabindex="-1" aria-labelledby="editarProyectoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarProyectoLabel">Editar Proyecto de Investigación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" action="{{ url_for('idVistaProyectosInvestigacion.editarProyecto') }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id_proyecto" value="{{ proyecto.id_proyecto }}">
            <div class="col-md-6">
              <label for="nombre_proyecto" class="form-label">Nombre del Proyecto</label>
              <input type="text" class="form-control" id="nombre_proyecto" name="nombre_proyecto" value="{{ proyecto.nombre_proyecto }}" required>
            </div>
            <div class="col-md-3">
              <label for="codigo" class="form-label">Código</label>
              <input type="text" class="form-control" id="codigo" name="codigo" value="{{ proyecto.codigo }}" required>
            </div>
            <div class="col-md-3">
              <label for="estado" class="form-label">Estado</label>
              <select class="form-select" id="estado" name="estado" required>
                <option disabled value="">Seleccionar...</option>
                <option value="En curso" {% if proyecto.estado == 'En curso' %}selected{% endif %}>En curso</option>
                <option value="Finalizado" {% if proyecto.estado == 'Finalizado' %}selected{% endif %}>Finalizado</option>
                <option value="Suspendido" {% if proyecto.estado == 'Suspendido' %}selected{% endif %}>Suspendido</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="fecha_inicio" class="form-label">Fecha de Inicio</label>
              <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" value="{{ proyecto.fecha_inicio }}" required>
            </div>
            <div class="col-md-4">
              <label for="fecha_final" class="form-label">Fecha Final</label>
              <input type="date" class="form-control" id="fecha_final" name="fecha_final" value="{{ proyecto.fecha_final }}" required>
            </div>
            <div class="col-md-4">
              <label for="convocatoria" class="form-label">Convocatoria</label>
              <input type="text" class="form-control" id="convocatoria" name="convocatoria" value="{{ proyecto.convocatoria }}" required>
            </div>
            <div class="col-md-6">
              <label for="id_grupo_lider" class="form-label">Grupo de Investigación</label>
              <select class="form-select" id="id_grupo_lider" name="id_grupo_lider" required>
                <option disabled value="">Seleccionar...</option>
                {% for grupo in grupos %}
                  <option value="{{ grupo.id_grupo }}" {% if grupo.id_grupo == proyecto.id_grupo_lider %}selected{% endif %}>{{ grupo.nombre_grupo }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-6">
              <label for="id_linea_investigacion" class="form-label">Línea de Investigación</label>
              <select class="form-select" id="id_linea_investigacion" name="id_linea_investigacion" required>
                <option disabled value="">Seleccionar...</option>
                {% for linea in lineas %}
                  <option value="{{ linea.id_linea_grupo }}" {% if linea.id_linea_grupo == proyecto.id_linea_investigacion %}selected{% endif %}>{{ linea.nombre_linea }}</option>
                {% endfor %}
              </select>
            </div>
            
            <div class="col-md-6">
              <label for="nombre_convocatoria" class="form-label">Nombre de la Convocatoria</label>
              <input type="text" class="form-control" id="nombre_convocatoria" name="nombre_convocatoria" value="{{ proyecto.nombre_convocatoria }}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-usb">Guardar cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>